__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.whl
.DS_Store
venv/
.venv/

# Python embeddable binaries (GitHub Releases 分发)
*.zip
*.pyd
*.dll
python*.exe
python*.dll
python*.pth
python*.zip
*.cat
